# This is a basic workflow to help you get started with Actions

name: "Pull request docs check

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  - name: Sphinx Build
    # You may pin to the exact commit or the version.
    # uses: ammaraskar/sphinx-action@8b4f60114d7fd1faeba1a712269168508d4750d2
    uses: ammaraskar/sphinx-action@0.4
    with:
      # The folder containing your sphinx docs.
      docs-folder: # default is docs/
      # The command used to build your documentation.
      build-command: # optional, default is make html
      # Run before the build command, you can use this to install system level dependencies, for example with "apt-get update -y && apt-get install -y perl"
      pre-build-command: # optional
